body {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	height: 97.5vh;
}

body > * {
	flex: 1;
}

#board {
	flex: 0;
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 0 auto;
}

#board button {
	height: 25vmin;
	width: 25vmin;
	font-size: 10rem;
}

header, footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#board button:disabled {
	color: black;
}